#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
dist
builds
node_modules
*.tsx
yarn.lock
package-lock.json
