#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
# Style in scss, compile in style
styles
#-------------------------------------------------------------------------------
dist
builds
electron/*
!electron/package.json
build
built
node_modules
*.tsx
sentry_key.ts
