@font-face {
  font-family: "Connection";
  src: url("../../assets/font/Connection.ttf") format("truetype"); }

div, h1, h2, h3, h4, h5, p, span, button {
  font-family: "Connection", cursive; }

button, button:hover {
  outline: none; }

body {
  color: black;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px; }

body div.container {
  text-align: center; }

h1 {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  margin: 0; }

body div.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.container {
  width: 100%;
  height: 100%; }

hr {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.75);
  border-style: solid; }

p {
  font-size: 2em;
  text-shadow: #000000 2px 0 2px;
  margin-bottom: 0.5em; }

.ui-container {
  position: relative;
  margin: 3em;
  padding: 3em;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.75); }

.vue-ui {
  color: white;
  position: absolute;
  background: transparent;
  top: 0;
  right: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms all ease-in-out; }
  .vue-ui.maximized {
    height: 100vh; }

.nav {
  position: fixed;
  right: 80px;
  top: 10px; }

.btn-nav,
.btn-nav:before {
  box-sizing: border-box;
  height: 40px;
  background: transparent;
  border-color: transparent transparent transparent #ffffff;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer; }

.btn-nav::before {
  content: ' ';
  height: 45px;
  border-color: transparent transparent transparent #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.btn-nav.play, .btn-nav.play::before {
  border-style: solid;
  border-width: 20px 0 20px 30px; }

.btn-nav.pause, .btn-nav.pause::before {
  border-style: double;
  border-width: 0px 0 0px 30px; }

.btn-default {
  margin-top: 1em;
  border: 0px solid transparent;
  text-decoration: none;
  outline: none;
  border-radius: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  padding: 0.5em 1em;
  transition: 200ms all ease-in-out;
  text-shadow: #000000 2px 0 2px; }
  .btn-default:hover {
    background: black; }

.btn-close {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #980a10;
  padding: 0.1em 0.3em;
  transition: 200ms all ease-in-out; }
  .btn-close:hover {
    background: #980a10;
    color: white; }

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0; }
